input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #181B3C99;
    opacity: 60%;
    font-size: 1rem;
    margin-bottom: 1rem;
}

textarea {
    resize: vertical;
    min-height: 50px;
}

.input-calendar {
    width: 100%;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

.floating-label {
    position: relative;
    margin-bottom: 2rem;
}

.floating-label input,
.floating-label textarea,
.floating-label select {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 0;
    border-bottom: 2px solid #181B3C99;
    opacity: 60%;
    outline: none;
    transition: border-color 0.3s;
}

.floating-label textarea {
    resize: vertical;
    min-height: 100px;
}

.floating-label input:focus,
.floating-label textarea:focus {
    border-bottom: 2px solid #5844D7;
}

.floating-label label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #181B3C99;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.3s ease all;
}

.floating-label input:focus+label,
.floating-label textarea:focus+label,
.floating-label select:focus+label,
.floating-label .input-calendar label,
.floating-label input:not(:placeholder-shown)+label,
.floating-label textarea:not(:placeholder-shown)+label,
.floating-label select:not(:placeholder-shown)+label,
.floating-label .input-calendar>:not(:placeholder-shown)+label {
    top: -10px;
    left: 0.5rem;
    color: #5844D7;
    font-size: 0.85rem;
}

.select-field {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    outline: none;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%235844D7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 1rem;
}

.input-calendar:first-child {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../assets/ContactForm/calendarVector.svg') no-repeat right 10px center;
    background-size: 21px 23px;
}