.logo-container {
    display: flex;
    width: 292.45px;
    height: 79.18px;
    margin-top: 56.89px;
    margin-left: 82.56px;
    gap: 0px;
    opacity: 0px;
}

.r-container {
    display: flex;
    margin-top: 250px;
    justify-content: end;
    gap: 0px;
    opacity: 0px;
}

.arrow {
    animation: bounceAndFade 2s infinite;
    /* La animación dura 2s y es infinita */
}

@keyframes bounceAndFade {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(20px);
        /* Baja la flecha 20px */
        opacity: 0;
        /* Desvanece */
    }

    100% {
        transform: translateY(0);
        /* Vuelve a su lugar original */
        opacity: 1;
        /* Opacidad completa */
    }
}